h1{
	font-family: Tahoma;
	color: white;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 4px 4px 4px black;
}
p{
	text-indent: 25px;
	color: white;
}
span{
	font-variant: small-caps;
	color: #195239;
	font-weight: bold;
	text-shadow: 2px 2px 2px white;
	color: #0F0415;
}
#external{
	text-shadow: 2px 2px 2px white;
	color: #0F0415;
}
body{
	background-color: #6B6C3D;
}
img{
	border-style: solid;
	border-color: black;
	float: left;
}
small{
	color: white;
}