h1{
	text-align: center;
	color: white;
	padding: 10px 10px 10px;
	text-shadow: black 3px 3px 3px;
	font-family: Lucida Handwriting;
}
h2{
	text-align: center;
	font-family: Tahoma;
	text-shadow: white 2px 2px 2px;
}
table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h3{
	text-align: center;
	font-family: Tahoma;